body {
	font-family: Verdana;
}

table {
	margin-bottom: 10px;
	border-collapse: collapse;
}

.content {
	width: 600px;
	margin: 0 auto;
}

.cell {
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	border: 1px solid black;
}

.dead {
	background-color: #D3D3D3;
}

.alive {
	background-color: #32CD32;
}

.controls {
	text-align: center;
}


